<!-- <div class="card-deck ">
  <div class="row">
    <div class="col-3" *ngFor="let item of deals">
      <div class="card" (click)="navigateToDealBody(item.id, $event)">
        <img class="card-img-top" *ngIf="item.photos.length > 0" src="{{item.photos[0].url}}" alt="Card image cap">
        <img class="card-img-top" *ngIf="item.photos.length == 0" src="{{'./assets/user.png'}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" *ngIf="item.title.length < 20">{{item.title}}</h5>
          <h5 class="card-title" *ngIf="item.title.length > 20">{{item.title.slice(0,20) + '...'}}</h5>
          <button class="btn btn-outline-success" (click)="addLike(item.id, $event)"><i class="fa fa-thumbs-up"></i>
            {{item.likes}}</button>
          <button class="btn btn-outline-danger" (click)="addDislike(item.id, $event)"><i class="fa fa-thumbs-down"></i>
            {{item.disLikes}}</button>
          <p class="card-text">{{item.price|currency}}</p>
          <p class="card-text"><small class="text-muted">{{item.created |date}}</small></p>
          <small class="text-muted"> <i class="fa fa-user-circle-o"></i> {{item.creator |titlecase}}</small>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="row" style="padding:48px; margin: 57px;">
  <div class="card-deck">
    <div class="col-3 p-0" *ngFor="let deal of deals">
      <app-deal-card (likeDeal)="addLike(deal.id)" (dislikeDeal)="addDislike(deal.id)" [deal] = "deal"></app-deal-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged) = "pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;">
  </pagination>
</div>
