<div class="card text-white bg-dark">
  <div class="modal-header p-1 m-1">
    <h4 class="modal-title pull-left">{{title |titlecase}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-1">
    <form #rolesForm="ngForm" id="rolesForm" (ngSubmit)="updateUserRole()">
      <div class="form-check" *ngFor="let role of availableRoles">
        <input type="checkbox" class="form-check-input"
        [checked]="userRoles.get(role)"
        value="role"
        (change)= "GetUpdateUserRole(role)"
        [disabled]="role ==='Admin'">
        <label>{{role |titlecase}}</label>
      </div>
      <div class="modal-footer m-0 p-1">
        <button type="button" class="btn btn-sm border border-light btn-outline-light"
          (click)="bsModalRef.hide()">{{closeBtnName}}</button>
        <button type="submit" class="btn btn-sm border border-primary btn-outline-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
