<!-- <div class="modal-header">
  <h4 class="modal-title pull-left">User management</h4>
</div>
<div class="modal-body">
    <p>Edit user role here</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="confirm()">Submit</button>
  <button type="button" class="btn btn-danger" (click)="decline()">Cancel</button>
</div> -->
<h1>User management</h1>
<button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Create modal with component</button>
