<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark px-md-0">
  <div class="container">
    <a class="navbar-brand" routerLink='/' routerLinkActive='active'>QuickDeals</a>

    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="(accountService.currentUser$ | async)">
        <li class="nav-item ">
          <a class="nav-link" routerLink='/forumPage' routerLinkActive='active'>Forums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/frontPage' routerLinkActive='active'>FrontPage Deals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink='/errors' routerLinkActive='active'>Errors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink='/newPost' routerLinkActive='active'>New Post</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link " *ngIf="(accountService.currentUser$ | async).roles === 'Admin'" routerLink='/admin'
            routerLinkActive='active'>Notification</a>
        </li> -->

        <div class="btn-group" *ngIf="(accountService.currentUser$ | async).roles.includes('Admin' || 'Member')" dropdown>
          <button id="button-animated" dropdownToggle type="button" class="adminBtn dropdown-toggle"
            aria-controls="dropdown-animated">
            Admin panel <span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
            <li role="menuitem"><a class="dropdown-item" routerLink='/admin'
              routerLinkActive='active'>FrontPage deals selection</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink='/userManagement' routerLinkActive='active'>Role management</a></li>
          </ul>
        </div>
      </ng-container>
    </ul>

    <!-- Async pipe is used to automatically subscribe service method without calling subscribe method explicitly.
      It also automatically unsubscribe to method, if that component not in use. -->
    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
      <img src="{{'./assets/user.png'}}" alt="{{user.username}}">
      <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.username | titlecase}}</a>
      <div class="dropdown-menu mt-3" *bsDropdownMenu>
        <a class="dropdown-item" routerLink='/member/edit'>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form *ngIf="(accountService.currentUser$ | async) === null" #LoginForm="ngForm" (ngSubmit)="login()"
      class="form-inline mt-2 mt-md-0" autocomplete="off">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username"
        [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password"
        [(ngModel)]="model.password">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
