<!-- <div class="row">
  <div class="card-deck">
    <div class="col-3 p-0" *ngFor="let deal of deals" style="margin: 0px -35px;">
      <div class="card mb-2" style="width: 13rem;">
        <img src="{{deal.photos[1].url}}" class="card-img-top" alt="Image">
        <div class="card-body">
          <h5 class="card-title" *ngIf="deal.title.length < 20">{{deal.title}}</h5>
          <h5 class="card-title" *ngIf="deal.title.length > 20">{{deal.title.slice(0,20) + '...'}}</h5>
          <p class="card-text">{{deal.price |currency}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="card-deck">
    <div class="col-2 p-0" *ngFor="let deal of deals">
      <app-deal-card (likeDeal)="addLike(deal.id)" (dislikeDeal)="addDislike(deal.id)" [deal] = "deal"></app-deal-card>
    </div>
  </div>
</div>
