slide {
  width: 50px;
  height: 300px;
  text-align: center;
}

img {
  width: 28rem;
  height: 18rem;
}

.content {
  font-size: 15px;
}

.commentRow{
  /* background-color: rgba(226, 216, 198, 0.733); */
  /* border: 2px solid blue; */
  max-height: 300px;
  overflow: auto;
}

.text-muted{
  font-size: 10px;
  font-weight: 200;
  margin-top: 5px;
}

