slide {
  width: 50px;
  height: 300px;
  text-align: center;
}

img {
  width: 28rem;
  height: 18rem;
}

.content {
  font-size: 15px;
}

.commentRow{
  background-color: rgba(226, 216, 198, 0.733);
  border: 2px solid blue;
  height: 300px;
  overflow: auto;
}

